body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}
.playerUI {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 44px;
    border: 1px solid black;
}
.x {
    color: red;
}
.o {
    color: blue;
}
.turn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.active {
    background-color: green;
}
.result {
    margin: 0 0 40px 0;
}